language: objective-c
osx_image: xcode8
before_script:
- bundle exec pod install --project-directory=THCalendarDatePickerExample
script:
- set -o pipefail && bundle exec rake test | bundle exec xcpretty --test --color
- bundle exec pod lib lint --quick
after_success: bundle exec slather
